.page__tags {
    margin-top: 10px;

    .tag {
        display: inline-block;
        background-color: $lighter-gray; // 使用已定义的灰色变量
        color: $text-color; // 使用文本颜色变量
        padding: 5px 10px;
        margin: 3px;
        border-radius: 5px;
        font-size: $type-size-6; // 匹配字体大小变量
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s;
        cursor: default; // 鼠标变为默认箭头，表示不可点击
    }
}
