.page__tags {
    margin-top: 10px;

    .tag {
        display: inline-block;
        background-color: $lighter-gray; // Use existing variables, e.g., from _variables.scss
        color: $text-color; // Example variable for text color
        padding: 5px 10px;
        margin: 3px;
        border-radius: 5px;
        font-size: $type-size-6; // Match font size variable
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: $primary-color; // Example variable for hover color
            color: $white; // Use white as the hover text color
        }
    }
}
