@charset "UTF-8";
 
.star {
  transform-style: preserve-3d;
  width: 1px;
  height: 1px;
  position: absolute;
  color: red;
}

.star:before {
  position: absolute;
  content: "✦";
  color: inherit;
  inset: 0;
  text-shadow: 0 0 0.8em #fff5;
}

.cd__main {
  margin: 0;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: #F9F6EF;
  display: grid;
  place-content: center;
  background-image: radial-gradient(circle at 50% 50%, #2f3040, #1f2020) !important;
}

.site-title img {
  max-height: 28px;
  margin-right: 8px;
}
